<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracleoaec.mapper.CarappformMapper">
	
	<select id="queryCarappForm"  resultType="hashMap">
		select * from carAppform 
	</select>
	
	<select id="queryCarappFormById" parameterType="int" resultType="hashMap">
		select * from carAppform  where carApp_id = #{carAppId}
	</select>
	
	<insert id="insertCarAppForm" parameterType="com.oracleoaec.pojo.CarAppForm">
		insert into Carappform(Carapp_Id,Appuser_Id,App_Time,Approver_Status,
        Appdept_Id,SCHEDULING_ID) values(SEQ_CARAPPFORM.NEXTVAL,#{appUserId},#{appTime},
        1,#{appDeptId},#{schedulingId})
	</insert>
	
	<update id="updateCarAppForm" parameterType="com.oracleoaec.pojo.CarAppForm">
		update carAppform set Approver_Time=#{appRoverTime},
		Approver_Status=#{approverStatus},Approver_Id=#{appRoverId} where Carapp_Id = #{carAppId}
	</update>
	
	<select id="queryCarappFormByUserId" parameterType="int" resultType="hashMap">
		select * from carAppform  c 
		join scheduling s on c.scheduling_id = s.scheduling_id 
		where c.appuser_id = #{userId}
	</select>	
	
	<select id="querycarPending" parameterType="hashMap" resultType="hashMap">
		select u.user_name applyUser,us.user_name approverUser,c.*,car.*,s.* from carAppform  c 
	    join scheduling s on c.scheduling_id = s.scheduling_id 
	    join carinfo car on car.car_id = s.car_id
	    join users u on c.appuser_id = u.user_id 
	    left join users us on us.user_id = c.approver_id
		where c.appDept_id = #{appDeptId} and approver_status = #{approverStatus}
	</select>


	<update id="sendedCar" parameterType="com.oracleoaec.pojo.CarAppForm">
		update carAppform set approver_status = 4 where scheduling_id = #{schedulingId}
	</update>

	<update id="returnCar" parameterType="com.oracleoaec.pojo.CarAppForm">
		update carAppform set approver_status = 5 where carapp_id = #{carAppId}
	</update>
	
	<update id="putStorage" parameterType="com.oracleoaec.pojo.CarAppForm">
		update carAppform set approver_status = 6 where scheduling_id = #{schedulingId}
	</update>


</mapper>