<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracleoaec.mapper.CarMapper">
	
	<select id="queryAllCar" resultType="hashMap">
		select * from CARINFO c
		inner join carType ct on c.CARTYPE_ID = ct.CARTYPE_ID
		 where c.CAR_STATUS = 1 
	</select>
	

</mapper>