<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracleoaec.mapper.CarMapper">
	
	<select id="queryAllCar" resultType="hashMap">
		select * from CARINFO c
		inner join carType ct on c.CARTYPE_ID = ct.CARTYPE_ID
		 where c.CAR_STATUS > 0
	</select>
	
	<select id="queryCarById" resultType="hashMap" parameterType="int">
		select * from carInfo where car_id = #{carId}
	</select>
	
	<insert id="insertCar" parameterType="com.oracleoaec.pojo.CarInfo">
		insert into carInfo(Car_Id,Cartype_Id,Car_Num,Car_Capacity,
		Brand_Model,Reg_Time,Examination_Time,Factory_Number,Car_Status)
        values(SEQ_CARINFO.NEXTVAL,#{carTypeId},#{carNum},#{carCapacity},
        #{brandModel},#{regTime},#{examinationTime},#{factoryNumber},1)
	</insert>
	
	<update id="deleteCar" parameterType="int">
		update carInfo set car_status = 0 where car_id = #{carId}
	</update>
	
	<update id="updateCar" parameterType="com.oracleoaec.pojo.CarInfo">
		update carInfo set Cartype_Id=#{carTypeId},Car_Num=#{carNum},Car_Capacity=#{carCapacity},
		Brand_Model=#{brandModel},Reg_Time=#{regTime},Examination_Time=#{examinationTime},
		Factory_Number=#{factoryNumber}
		where car_id = #{carId}
	</update>
	
	<update id="takeUpcar" parameterType="com.oracleoaec.pojo.CarInfo">
		update carInfo set car_status = 2 where car_id = #{carId}
	</update>
	
	<update id="freeCar" parameterType="com.oracleoaec.pojo.CarInfo">
		update carInfo set car_status = 1 where car_id = #{carId}
	</update>
	
	<select id="queryAllUserCar" resultType="hashMap">
		select * from CARINFO c
		inner join carType ct on c.CARTYPE_ID = ct.CARTYPE_ID
		 where c.CAR_STATUS = 1
	</select>
</mapper>